@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GapyeongHanseokbong-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/GapyeongHanseokbong-Bold.woff2')
        format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'SeoulNamsanM', 'NanumSquare';
}

.logo {
    font-family: 'GapyeongHanseokbong-Bold';
}

.listcard .none {
    text-decoration: none;
    color: inherit;
}

#userform a {
    text-decoration: none;
}
